node_modules/
dist/
out/
temp/
venv/
__pycache__/
*.pyc
.env
*.log
.DS_Store
resources/ffmpeg.exe
resources/ffprobe.exe
voices/
*.wav
resources/*.exe
# logo.jpg is needed for tray icon in production builds
VoiceTransleter_V2.md
.venv/
key.txt
golos-1.wav
